.background{
    background-color: #000000;
    height: 100vh;
}

.welcomeText{
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
}