.button{
    position: relative;
    float: right;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 5px;
    height: 2em;
    width: 2em;
    z-index: 10;
}

.hideButton{
    color: #ffffff;
    background-color: transparent;
    z-index: 20;
}

.hideButton svg{
    margin-top: -4px;
    fill: #fff;
    transform: rotate(0deg);
    transition: 1s;
}

svg:hover{
    transform: rotate(90deg);
    transition: 1s;
}

.showButton{
    background-color: #fff;
    color: #000000;
    transform: 90deg;
}

.showButton span svg{
    fill: black;
    transition: 1s;
}

button:focus {
    outline:0;
}