.description{
    float: right;
    text-align: right;
    list-style: none;
    margin-top: 6vh;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

.showDescription{
    animation: moveDescription 0.2s;
}

@keyframes moveDescription {
    from {margin-top: 7vh;}
    to {margin-top: 6vh;}
}