.menu{
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    transition: 1s;
}

.nav-item{
    color: #ffffff;
    position: relative;
    width: fit-content;
    font-family: 'Paytone One', sans-serif;
    text-transform: uppercase;
}

.principal{
    margin-top: 20vh;
    font-size: 50px;
}

.show{
    height: 100vh;
    transition: 1s; 
}

.canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -10;
    background-color: black;
}

.canvasShow{
    z-index: 5;
}

.row{
    margin-left: 0 !important;
}

.firstCol{
    z-index: 10;
}

li:hover{
    z-index: 10;
}

li::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: width 0.5s ease-out 0s;
    width: 0;
}

li:hover::after{
    width: 100%; 
    left: 0;
    right: auto;
}