.number{
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    right: 0;
    bottom: 10vh;
    font-size: 25px;
}

.showNumber{
    color: #ffffff;
    animation: moveText 0.5s;
}

@keyframes moveText {
    from {right: -5px;}
    to {right: 0;}
}